.container {
  width: 90%;
  max-width: 1200px;
  height: 280px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (min-width: 400px) {
  .container {
    height: 380px;
  }
}

@media (min-width: 700px) {
  .container {
    height: 480px;
  }
}
